<h2 style="text-decoration: underline;">Productos disponibles</h2>

{{#if prods}}

<ul>

    {{#each prods}}

    <li class="prod">

        <img style="height: 350px; width: 250px;" src="{{image}}" alt="">

        <h3 class="prodName">Nombre: {{name}}</h3>
        <h3 class="prodPrice">Precio: {{price}}</h3>
        <h3>Plataformas</h3>
        <ul>
            {{#each platforms}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <a href="/cart/add/{{id}}">Agregar al carrito</a>

    </li>

    {{/each}}

</ul>

{{else}}

<h3 style="color: grey; margin: 1%;">El carrito está vacío</h3>

{{/if}}