<h2 style="text-decoration: underline;">Productos disponibles</h2>

{{#if prods}}

<ul class="prodList">

    {{#each prods}}

    <li class="prod">

        <img src="{{image}}" alt="">

        <p class="prodName">Nombre: {{name}}</p>
        <p class="prodPrice">Precio: {{price}}</p>
        <p>Plataformas</h3>
        <ul class="platforms">
            {{#each platforms}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <a href="/cart/add/{{id}}">Agregar al carrito</a>

    </li>

    {{/each}}

</ul>

{{else}}

<h3 style="color: grey; margin: 1%;">El carrito está vacío</h3>

{{/if}}