<link rel="stylesheet" href="/static/css/prods.css">

<h2 class="prodTitle">Available products</h2>

{{#if prods}}

<ul class="prodList">

    {{#each prods}}

    <li class="prod">

        <img src="{{image}}" alt="">

        <p class="prodName dots">Name: {{name}}</p>
        <p class="prodPrice">Price: ${{price}}</p>
        <h3>Platforms:</h3>
        <ul class="platforms">
            {{#each platforms}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <a href="/cart/add/{{id}}">Add to cart</a>


    </li>

    {{/each}}

</ul>

{{else}}

<h3 style="color: grey; margin: 1%;">No hay productos disponibles</h3>

{{/if}}