{{> navbar }}

<p style="font-weight: bold;">Arguments:</p>
<ul>
    {{#each info.arguments._}} 
        <li><p>{{this}}</p></li>
    {{/each}}
</ul>
<p style="font-weight: bold;">Platofrm: {{info.platform}}</p>
<p style="font-weight: bold;">Version: {{info.version}}</p>
<p style="font-weight: bold;">Memory Usage: {{info.memoryUsage}}</p>
<p style="font-weight: bold;">Execution Path: {{info.execPath}}</p>
<p style="font-weight: bold;">Process Id: {{info.processId}}</p>
<p style="font-weight: bold;">Main Path: {{info.mainPath}}</p>
<p style="font-weight: bold;">CPUs: {{info.CPUs}}</p>