<link rel="stylesheet" href="/static/css/profile.css">

{{> navbar }}

<p class="pink">Arguments:</p>
<ul>
    {{#each info.arguments._}} 
        <li><p class="blue span">{{this}}</p></li>
    {{/each}}
</ul>
<p class="pink">Platofrm: <span class="blue span">{{info.platform}}</span></p>
<p class="pink">Version: <span class="blue span">{{info.version}}</span></p>
<p class="pink">Memory Usage: <span class="blue span">{{info.memoryUsage}}</span></p>
<p class="pink">Execution Path: <span class="blue span">{{info.execPath}}</span></p>
<p class="pink">Process Id: <span class="blue span">{{info.processId}}</span></p>
<p class="pink">Main Path: <span class="blue span">{{info.mainPath}}</span></p>
<p class="pink">CPUs: <span class="blue span">{{info.CPUs}}</span></p>