<link rel="stylesheet" href="/static/css/profile.css">

<body>

    {{> navbar}}

    <h2 class="profileTitle pink">User info:</h2>

    <p class="pink">Email: <span class="blue">{{user.email}}</span></p>
    <p class="pink">Name: <span class="blue">{{user.name}}</span></p>
    <p class="pink">Last name: <span class="blue">{{user.surname}}</span></p>
    <p class="pink">Age: <span class="blue">{{user.age}}</span></p>
    <p class="pink">Address: <span class="blue">{{user.address}}</span></p>
    <p class="pink">Avatar:</p>

    <img class="profilePic" src="{{user.avatar}}" alt="">

</body>